<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../components/header.ejs') %>
</head>
<body>
    <%- include('../components/nav.ejs') %>

    <div class="new-blog container">
        <h2>Create a new Blog</h2>
        <form action="/blogs/create" method="post">
            <div>
                <label for="title">Blog Title: </label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="snippet">Blog Snippet: </label>
                <input type="text" id="snippet" name="snippet" required>
            </div>
            <div>
                <label for="body">Blog Body: </label>
                <textarea id="body" name="body" required></textarea>
            </div>
            <div class="bt-div">
                <button>Post it</button>
            </div>
        </form>
    </div>

    <%- include('../components/footer.ejs') %>
</body>
</html>