<nav>
    <div class="title-container">
        <a href='/'><h1>STT Blog</h1></a>
        <p>A Gabriel Sotto's Site</p>
    </div>

    <ul class="menu-container">
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>