<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./components/header.ejs') %>
</head>
<body>
    <%- include('./components/nav.ejs') %>

    <div class="not-found container">
        <h2>Sorry</h2>
        <p>This page dosen't exists</p>
    </div>

    <%- include('./components/footer.ejs') %>
</body>
</html>