<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./components/header.ejs') %>
</head>
<body>
    <%- include('./components/nav.ejs') %>
    
    <div class="about container">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab reiciendis quaerat. Ipsam praesentium obcaecati neque vero illo. Impedit odit numquam aperiam! Nostrum assumenda ullam consequuntur incidunt maxime sunt dolorem?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus culpa sit ea nisi? Eligendi officiis, fugit natus maxime est sapiente aut sequi repellendus quam eos porro rem, repudiandae optio cum.</p>
    </div>

    <%- include('./components/footer.ejs') %>
</body>
</html>